* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.picture1 {
	height: 200px;
	background-image: url(img/box1.jpg);
	background-size: cover;
	background-position: center;
}
.picture2 {
	height: 200px;
	background-image: url(img/box2.jpg);
	background-size: cover;
	background-position: center;
}
