* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	height: 400px;
	width: 100%;
	background-color: green;
}
.headline {
	padding: 20px 0 0 20px;
	font-size: 25px;
	color: gray;
}
main {
	width: 840px;
	margin: 0 auto;
}
.blog-image {
	padding-top: 30px;
}
.main-box {
	padding-top: 50px;
	padding-bottom: 50px;
}
.image {
	padding-top: 30px;
	background-image: url(img/wc-logo.png);
}
.websaito {
	padding-bottom: 30px;
	border-bottom: 1px solid #f7f7f7;
}